[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = "*"}
uvicorn = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
fastapi-sqlalchemy = "*"
passlib = "*"
python-jose = "*"
openpyxl = "*"
fpdf2 = "*"
pypdf2 = "*"
pypdf = "*"
python-crontab = "*"
requests = "*"
python-multipart = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.16"
